@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    color: white;
}
body {
    height: 100vh;
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

/* HEADER SECTION */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    border: 2px solid hsl(217, 16%, 45%);
    margin-top: 30px;
}
.itemsName {
    line-height: 0.8;
}
.scoreDiv {
    background-color: white;
    color: hsl(229, 25%, 31%);
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}
.scoreText {
    color: hsl(214, 47%, 23%);
}
.score {
    color: hsl(229, 25%, 31%);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

/* CONTAINER */
.container {
    margin: auto;
    margin-top: 50px;
    width: 35%;
    background-image: url(images/bg-pentagon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
}

.options {
    background-color: white;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.options:hover {
    transform: translateY(-10px);
}
.optionsImg {
    height: 50px;
}
.scissors {
    top: -30px;
    left: 33%;
    border: 10px solid hsl(40, 84%, 53%);
    
    
}
.spock {
    border: 10px solid hsl(189, 59%, 53%);
    top: 70px;
    left: -60%;
}
.paper {
    border: 10px solid hsl(230, 89%, 62%);
    left: 80%;
    top: -50px;
}
.lizard {
    border: 10px solid hsl(261, 73%, 60%) ;
    top: 110px;
    left: 20%;
}
.rock {
    border: 10px solid hsl(349, 71%, 52%);
    left: 5%;
    top: -10px;
    
}

/* RULES SECTION */
.rulesButton {
    background-color: rgba(240, 248, 255, 0);
    padding: 10px 30px 10px 30px;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-top: 50px;

}
.rulesButton:hover {
    transform: translateY(-5px);
}

/* MODAL RULES WINDOW */
.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    
}
.rulesModalDiv {
    
    background-color: white;
    margin-top: 40px;
    z-index: 9999;
    width: 30% ;
    border-radius: 10px;
    margin: auto;
    padding: 20px 30px 80px 30px;
    margin-top: 5%;
    
}

.imgRules {
    margin: auto;
    text-align: center;
    
}
.imgReal {
    width: 100%;
    height: auto;
}
.close {
    display: flex;
    justify-content: space-between;
}
.imgClose {
    display: block;
    text-align: right;
    margin-bottom: 30px;
    cursor: pointer;
}

/* RESULT SECTION  */

.resultMainDiv {
    margin: auto;
    margin-top: 50px;
    width: 60%;
    
}
.picked {
    font-weight: bold;
    font-size: 20px;
}
.whoPicked {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 45px;
}
.resultDiv {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.youPicked {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: white;
}
.housePicked {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: white;
}
.scissorsResult {
    border: 20px solid hsl(40, 84%, 53%);
    background-image: url('images/icon-scissors.svg');
    background-size: 70px; /* To cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}
.spockResult {
    border: 20px solid hsl(189, 59%, 53%);
    background-image: url('images/icon-spock.svg');
    background-size: 70px; /* To cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;

}
.paperResult {
    border: 20px solid hsl(230, 89%, 62%);
    background-image: url('images/icon-paper.svg');
    background-size: 70px; /* To cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;

}
.rockResult {
    border: 20px solid hsl(349, 71%, 52%);
    background-image: url('images/icon-rock.svg');
    background-size: 70px; /* To cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;

}
.lizardResult { 
    border: 20px solid hsl(261, 73%, 60%);
    background-image: url('images/icon-lizard.svg');
    background-size: 70px; /* To cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;

}
.playAgainDiv {
    text-align: center;
}
.playAgainButton {
    background-color: white;
    color: hsl(214, 47%, 23%);
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}
.playAgainButton:hover {
    transform: translateY(-5px);
    
}

/* RESPONSIVE SECTION  */
@media (max-width: 1000px){
    .rulesModalDiv {
        width: 40%;
        margin-top: 90px;
    }
    .resultMainDiv {
        width: 70%;
    }
    header {
        width: 80%;
    }
    
    
}
@media (max-width: 840px) {
    .resultMainDiv {
        width: 80%;
    }
}
@media (max-width: 768px){
    .rulesModalDiv {
        width: 60%;
    }
    
    .itemsName {
        font-size: 20px;
        align-items: center;
    }
    .container {
        width: 300px;
        background-size: 200px;
    }
    .scissors {
        top: 0px;
        left: 35%;
        border: 10px solid hsl(40, 84%, 53%);
        
        
    }
    .spock {
        border: 10px solid hsl(189, 59%, 53%);
        top: 70px;
        left: -30%;
    }
    .paper {
        border: 10px solid hsl(230, 89%, 62%);
        left: 5%;
        top: 70px;
    }
    .lizard {
        border: 10px solid hsl(261, 73%, 60%) ;
        top: 110px;
        left: 10%;
    }
    .rock {
        border: 10px solid hsl(349, 71%, 52%);
        left: 25%;
        top:110px;
        
    }
    .options{
        height: 90px;
        width: 90px;
    }
    .optionsImg {
        height: 30px;
    }
    .winOrLoseText{
        font-size: 20px;
    }
    .youPicked {
        height: 150px;
        width: 150px;
        border-width: 15px;
        background-size: 50px;
        
        
    }
    .housePicked {
        height: 150px;
        width: 150px;
        border-width: 15px;
        background-size: 50px;
        
    }
    .whoPicked {
        padding: 0 0px 0 25px;
    }
    .playAgainButton {
        padding: 10px 30px 10px 30px;
    }
    
    .rulesButton {
        margin: auto;
        margin-top: 20px ;
    }
}
@media (max-width: 680px){
    .rulesModalDiv {
        width: 70%;
        margin-top: 80px;
        
    }
    header{
        width: 90%;
    }
    .scoreDiv {
        padding: 10px 20px 10px 20px;
    }

    
}
@media (max-width: 560px){
    .resultDiv {
        width: 100%;
    }
    .youPicked {
        height: 120px;
        width: 120px;
        border-width: 10px;
        background-size: 50px;
        
        
    }
    .housePicked {
        height: 120px;
        width: 120px;
        border-width: 10px;
        background-size: 50px;
        
    }
    .playAgainButton {
        padding: 10px 20px 10px 20px;
        margin: 20px 20px 0 20px;
    }
}
